html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Common stuff for things that change with aspect ratio: */
.App {
  display: flex;
  justify-items: center;
  align-items: center;
}
.field {
  display: grid;
  align-self: center;
  border: solid black 1pt;
}
/* To lay stuff out better, dynamically, check out:
 * https://developer.mozilla.org/en-US/docs/Web/CSS/@media/aspect-ratio
 */
@media (max-aspect-ratio: 17 / 20) {
  /* Portrait mode layout */
  .App {
    flex-direction: column;
  }
  .field {
    background-color: bisque;
    margin-top: 1vw;
    grid-template-columns: 9vw 16vw 16vw 16vw 16vw 16vw 9vw;
    grid-template-rows: 9vw 16vw 16vw 16vw 16vw 16vw 9vw;
  }
}
/* TODO: Get a layout that works for the 'in between' aspect ratio */

@media (min-aspect-ratio: 20 / 17) {
  /* Landscape mode layout */
  .App {
    flex-direction: row;
  }
  .field {
    background-color: lightcyan;
    margin-top: 1vh;
    margin-left: 1vh;
    grid-template-columns: 9vh 16vh 16vh 16vh 16vh 16vh 9vh;
    grid-template-rows: 9vh 16vh 16vh 16vh 16vh 16vh 9vh;
  }
}

.button {
  background: radial-gradient(#ddd 0%, #eee 90%, #fff 100%);
  border: solid 1pt black;
  border-radius: 3pt;
  cursor: pointer;
  margin: 2pt;
  padding: 3pt 3pt 2pt 3pt;
}

.redscore,
.red .tscore {
  color: red;
}

.bluescore,
.blue .tscore {
  color: blue;
}

.stats {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
}

.scoreboard {
  display: grid;
  gap: 5pt;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: auto auto auto;
  justify-content: space-around;
  margin: 5pt;
}

#button-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coneboard {
  display: grid;
  gap: 5pt;
  grid-template-columns: auto 0.5fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  justify-content: space-around;
  margin: 5pt;
}

.inactive {
  color: gray;
}

.auto {
  grid-column: 1 / span 3;
  text-align: center;
  justify-self: center;
}

.header {
  font-weight: bold;
}

.label {
  text-align: right;
  font-weight: bold;
}

.score {
  text-align: center;
}
