.stats {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
}

.scoreboard {
  display: grid;
  gap: 5pt;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: auto auto auto;
  justify-content: space-around;
  margin: 5pt;
}

#button-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inactive {
  color: gray;
}

.coneboard {
  display: grid;
  gap: 5pt;
  grid-template-columns: auto 0.5fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  justify-content: space-around;
  margin: 5pt;
}

.auto {
  grid-column: 1 / span 3;
  text-align: center;
  justify-self: center;
}

.header {
  font-weight: bold;
}

.label {
  text-align: right;
  font-weight: bold;
}

.score {
  text-align: center;
}
