html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.board {
  display: grid;
  grid-template-columns: 7vw 14vw 14vw 14vw 14vw 14vw 7vw;
  grid-template-rows: 7vh 14vh 14vh 14vh 14vh 14vh 7vh;
  justify-content: center;
  border: solid black 1pt;
}

.scoreboard {
  display: flex;
  justify-content: space-around;
}

.finalscoreboard {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  justify-content: space-around;
}

.button {
  background-color: aliceblue;
  padding: 2pt;
}
/* Center the contents of terminals */
.term {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tscore {
  background-color: #ffffffc0;
}

.corner.red {
  background: linear-gradient(
      45deg,
      transparent 45%,
      red 45%,
      red 55%,
      transparent 55%
    )
    no-repeat;
}

.corner.blue {
  background: linear-gradient(
      -45deg,
      transparent 44%,
      blue 45%,
      blue 55%,
      transparent 55%
    )
    no-repeat;
}

.v-edge.stack {
  background: linear-gradient(
      0deg,
      transparent 7%,
      red 7%,
      red 14%,
      transparent 14%,
      transparent 86%,
      blue 86%,
      blue 93%,
      transparent 93%
    )
    no-repeat;
}

.h-edge.blue-depot {
  background: linear-gradient(0deg, white 50%, transparent 50%) no-repeat,
    linear-gradient(45deg, transparent 46%, blue 46%, blue 54%, transparent 54%)
      no-repeat,
    linear-gradient(
        -45deg,
        transparent 46%,
        blue 46%,
        blue 54%,
        transparent 54%
      )
      no-repeat;
}

.h-edge.red-depot {
  background: linear-gradient(0deg, transparent 50%, white 50%) no-repeat,
    linear-gradient(45deg, transparent 46%, red 46%, red 54%, transparent 54%)
      no-repeat,
    linear-gradient(-45deg, transparent 46%, red 46%, red 54%, transparent 54%)
      no-repeat;
}

.normal.ground {
  background: radial-gradient(
    lightgray 0%,
    lightgray 8%,
    black 15%,
    transparent 15%
  );
}
.normal.ground.red {
  background: radial-gradient(red 0%, red 3%, black 15%, transparent 15%);
}
.normal.ground.blue {
  background: radial-gradient(
    lightblue 0%,
    blue 5%,
    black 15%,
    transparent 15%
  );
}

.normal.low {
  background: radial-gradient(yellow 0%, yellow 5%, black 6%, transparent 7%);
}
.normal.low.red {
  background: radial-gradient(red 0%, red 5%, black 6%, transparent 7%);
}

.normal.low.blue {
  background: radial-gradient(blue 0%, blue 5%, black 6%, transparent 7%);
}

.normal.medium {
  background: radial-gradient(yellow 0%, yellow 8%, black 9%, transparent 10%);
}
.normal.medium.red {
  background: radial-gradient(red 0%, red 8%, black 9%, transparent 10%);
}
.normal.medium.blue {
  background: radial-gradient(blue 0%, blue 8%, black 9%, transparent 10%);
}

.normal.high {
  background: radial-gradient(
    yellow 0%,
    yellow 12%,
    black 13%,
    transparent 14%
  );
}
.normal.high.red {
  background: radial-gradient(red 0%, red 12%, black 13%, transparent 14%);
}
.normal.high.blue {
  background: radial-gradient(blue 0%, blue 12%, black 13%, transparent 14%);
}

.normal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.redscore,
.red .tscore {
  color: red;
  cursor: pointer;
}

.bluescore,
.blue .tscore {
  color: blue;
  cursor: pointer;
}
