.App {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 2fr 2fr 2fr 1fr;
}

.corner {
  min-width: 50;
  min-height: 50;
}

.v-edge {
  min-width: 50;
  min-height: 100;
}

.h-edge {
  min-width: 100;
  min-height: 50;
}
